<!-- <button routerLink="/products">Products</button>
<button routerLink="/about">About</button>
<button routerLink="">Home</button> -->
<nav class="d-flex justify-content-center w-100">
	<a class="flex-1 mx-auto" routerLink="/products">Products</a>
	<a class="flex-1 mx-auto" routerLink="/about">About</a>
</nav>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->