<div class="px-3 d-flex" style="height: 36px">
	<button class="btn-sm" (click)="openAddProduct()">Add product</button>
	<div class="search-bar-wrapper ml-auto d-flex">
		<div class="mr-3">Search</div>
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  </div>
	</div>
  <div>{{products$.length}}</div>
  <ul class="search-result">
    <li *ngFor="let product$ of products$ | async" >
      <a routerLink="/detail/{{product$.id}}">
        {{product$.name}}
      </a>
    </li>
  </ul>
	<div class="p-3">
		<table class="table">
			<colgroup>
				<col>
				<col>
				<col>
				<col style="width: 140px;">
			</colgroup>
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Actions</th>
			</thead>
			<tbody *ngFor="let product of (products$.length ? products$ : products)">
				<tr>
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>${{product.price}}</td>
					<td>
						<div class="d-flex justify-content-between">
							<button class="btn-sm" (click)="openUpdateProduct(product)">Edit</button>
							<button class="btn-sm btn-danger" (click)="removeProduct(product)">Remove</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->