<!-- <h1>Product List Component</h1> -->
<div class="px-3 d-flex" style="height: 36px;">
  <button class="btn-sm" (click)="openAddProduct()">Add product</button>
  <div class="search-bar-wrapper ml-auto d-flex align-item-center">
    <div class="mr-3 my-auto">Search</div>
    <input
      id="search-box"
      class="h-100"
      (keydown.enter)="search($event.target.value)"
    />
  </div>
</div>
<div class="p-3">
  <table class="table">
    <colgroup>
      <col />
      <col />
      <col />
      <col style="width: 140px;" />
    </colgroup>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>${{ product.price }}</td>
        <td>
          <div class="d-flex justify-content-between">
            <button class="btn-sm" (click)="openUpdateProduct(product)">
              Edit
            </button>
            <button class="btn-sm btn-danger" (click)="confirmRemoval(product)">
              Remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
